{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/project/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/project/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/project/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/project/site.webmanifest' %}">
{% endblock favicon %}

{% block head_block %}
<!--link rel="stylesheet" href="{% static 'css/landing.css' %}"-->
{% endblock head_block %}

{% block index %}
    {% get_current_language as LANGUAGE_NAME %}
    <main>

        <section class="involvement2">
            <div>
                <h2>{% translate "Courses, workshops and webinars" %}</h2>
                <p>
                    {% translate "As part of our OpenPlan 2.0 research project, we offer various training courses. Our introductory course on how to use the OpenPlan Tool will be available starting in January 2026. Our range of courses will be gradually expanded until the end of the project in September 2027." %}
                </p>
                <p>
                    {% translate "Regular stakeholder workshops give you the opportunity to learn about new tool features, discuss the current state of development, and provide us with feedback on potential enhancements." %}
                </p>
                <p>
                    {% translate "All events are organized by the German Solar Energy Society in the Berlin-Brandenburg State Association (DGS Berlin). If you decide to take a course, you will be redirected to the DGS Berlin website." %}
                </p>
               {% include "landing/courses_cards.html" %}
            </div>
    </section>

    {% include 'landing/newsletter_insert.html' %}

    {% include 'landing/logos.html' %}

    </main>


{% endblock index %}
