{% load static %}
{% load i18n %}
<section class="involvement2">
	<div>
		<h2>{% translate "Would you like to be involved in the further development of the open-plan tool?" %}</h2>
		<!--div class="dev__heading">

		</div>
		<div class="dev__text">
			<p style="font-size: 1.5rem;">{% translate "Use the GUI to include sector-coupling and optimize the energy system model subject to equality constraints" %}</p>
		</div-->

		<div class="involvement2__cards">
			<div class="involvement2__card">
				<img src="{% static 'assets/icons/i_github_hex.png' %}" alt="" width="60">
				<p>{% translate "You can follow the current project progress in our freely accessible repository." %}</p>
				<a href="https://github.com/open-plan-tool" class="btn btn--hollow">{% translate "GitHub" %}</a>
			</div>
			<div class="involvement2__card">
				<img src="{% static 'assets/icons/i_features_hex.png' %}" alt="" width="60">
				<p>{% translate "Please feel free to contact us if you would like to develop further functionalities together with us." %}</p>
				<a href="{% url 'sponsor_feature' %}" class="btn btn--hollow">{% translate "New features" %}</a>
			</div>
			<div class="involvement2__card">
				<img src="{% static 'assets/icons/i_reports_hex.png' %}" alt="" width="60">
				<p>{% translate "We publish relevant reports, summaries and scientific papers here on our website." %}</p>
				<a href="https://open-plan-documentation.readthedocs.io/en/latest/" class="btn btn--hollow">{% translate "Publications" %}</a>
			</div>
		</div>
	</div>
</section>