{% load static %}
{% load i18n %}
<section class="features">
	<div class="features__wrap">
		<div class="features__heading">
			<h2>{% translate "Features" %}</h2>
		</div>
		<div class="features__content">
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_sector_coupling_hex.svg' %}" alt="Sector coupling">
				</div>
				<h3>{% translate "Sector coupling" %}</h3>
				<p>
					{% translate "Combination of different generation components and demand categories for designing optimized systems and operational strategies" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_data_management_hex.svg' %}" alt="Data management">
				</div>
				<h3>{% translate "Data management" %}</h3>
				<p>
					{% translate "Integration of open libraries, e.g. generation and consumption data, and use of open generic formats" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_analysis_hex.svg' %}" alt="Scenario analysis">
				</div>
				<h3>{% translate "Scenario analysis" %}</h3>
				<p>
					{% translate "An automated creation of scenarios allows for an easy comparison of different options and to understand sensitivities" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_reproducibility_hex.svg' %}" alt="Reproducibility">
				</div>
				<h3>{% translate "Reproducibility" %}</h3>
				<p>
					{% translate "All results are reproducible on the basis of open and transparent calculations" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_modularity_hex.svg' %}" alt="Modularity">
				</div>
				<h3>{% translate "Modularity" %}</h3>
				<p>
					{% translate "A wide variety of different energy systems requires modular components to map different degrees of complexity and framework conditions" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_user_friendly_hex.svg' %}" alt="User friendly">
				</div>
				<h3>{% translate "User friendliness" %}</h3>
				<p>
					{% translate "The tool was developed with a strong focus on easy use without requiring programming language expertise" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_info.svg' %}" alt="Easy collaboration">
				</div>
				<h3>{% translate "Easy collaboration" %}</h3>
				<p>
					{% translate "Projects can be shared with team members, customers or suppliers, so that all involved parties can be informed about the current project progress in a central tool" %}
				</p>
			</div>
			<div class="features__item">
				<div class="icon">
					<img src="{% static 'assets/icons/i_info.svg' %}" alt="Inferfaces">
				</div>
				<h3>{% translate "Interfaces" %}</h3>
				<p>
					{% translate "Standardized formats enable easy integration of external databases and other tools used in energy system analysis" %}
				</p>
			</div>
		</div>
	</div>
</section>