{% load static %}
{% load i18n %}
<section class="about2">
	<div>
		<div class="about2__heading">
			<h2>{% translate "About the project" %}</h2>
		</div>
		<div class="about2__content">
			<p>{% translate "The functions for planning cellular energy systems were developed in the context of the open_plan 1.0 research project. The project consortium consisted of the Reiner Lemoine Institute (RLI), the German Solar Energy Society (DGS) and the Potsdam Institute for Climate Impact Research (PIK). It was funded from January 2020 to June 2023 as part of the 'Technology-oriented Systems Analysis' funding area of the BMWi's 7th Energy Research Program 'Innovation for the Energy Transition.' " %}</p>
		</div>
	</div>
</section>
<section class="logos2">
	<div>
		<a href="https://www.dgs.de/aktuell/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/2020-03-09_DGS.png' %}" alt="Deutsche Gesellschaft für Sonnenenergie logo" width="196" height="76">
		</a>
		<a href="https://reiner-lemoine-institut.de/en/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/rlilogo.png' %}" alt="Reiner Lemoine Institut logo" width="97" height="71">
		</a>
		<a href="https://www.pik-potsdam.de/" target="_blank" rel="noopener noreferrer">
			<img src="{% static '/assets/logos/logo_PIK.png' %}" alt="Potsdam-Institut für Klimafolgenforschung logo" width="200" height="88">
		</a>
		{% if "de" in LANGUAGE_NAME %}
		<a href="https://www.bmwi.de/Navigation/DE/Home/home.html" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/BMWK_Fz_2017_WebSVG_de.svg' %}" alt="Federal Ministry for Economic Affairs and Energy logo" width="140" height="145">
		</a>
		{% else %}
		<a href="https://www.bmwi.de/Navigation/EN/Home/home.html" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/BMWK_Fz_2017_WebSVG_en.png' %}" alt="Federal Ministry for Economic Affairs and Energy logo" width="140" height="145">
		</a>
		{% endif %}
	</div>
</section>