{% load static %}

<section class="logos2">
	<div>
		<a href="https://www.dgs.de/aktuell/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/2020-03-09_DGS.png' %}" alt="Deutsche Gesellschaft für Sonnenenergie logo" width="196" height="76">
		</a>
		<a href="https://reiner-lemoine-institut.de/en/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/rlilogo.png' %}" alt="Reiner Lemoine Institut logo" width="97" height="71">
		</a>
		<a href="https://www.ifam.fraunhofer.de" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/logo_ifam.png' %}" alt="Fraunhofer IFAM logo" width="219" height="62">
		</a>
		<a href="https://energielenker.de/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/EnergieLenker_logo.png' %}" alt="Energie Lenker logo" width="135" height="135">
		</a>
		<a href="https://oekozentrum.nrw/" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/oeko_zentrum_NRW_logo.png' %}" alt="Oeko Zentrum NRW logo" width="157" height="157">
		</a>
		{% if extra is True %}
			<a href="#" target="_blank" rel="noopener noreferrer">
			<img src="{% static '/assets/logos/H2CE_Logo_Standard.svg' %}" alt="H2CE logo" width="230">
			</a>
		{% endif %}
		{% if "de" in LANGUAGE_NAME %}
		<a href="https://www.bmwi.de/Navigation/DE/Home/home.html" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/BMWK_Fz_2017_WebSVG_de.svg' %}" alt="Federal Ministry for Economic Affairs and Energy logo" width="140" height="145">
		</a>
		{% else %}
		<a href="https://www.bmwi.de/Navigation/EN/Home/home.html" target="_blank" rel="noopener noreferrer">
			<img src="{% static 'assets/logos/BMWK_Fz_2017_WebSVG_en.png' %}" alt="Federal Ministry for Economic Affairs and Energy logo" width="140" height="145">
		</a>
		{% endif %}

	</div>
</section>