{% load i18n %}
<section style="display: flex;flex-direction: column;align-items: center;margin-top: 7rem;padding-bottom: 3rem;">
	<div style="margin: 0 auto;">
		<div style="padding: 4rem;box-shadow: 0 8px 32px 16px rgba(31,86,125,0.08);">
			<form method="post" action="https://flow.cleverreach.com/fl/a176f5ea-761f-432f-8eec-b38a043ce09e/confirm" class="" target="_blank">

				<div>
					<div>
						<h2 style="font-size: 1.5rem;text-align: center;margin-bottom: 1.5rem;" > {% translate "Register to our Newsletter" %} </h2>
					</div>
					<div>

						<div style="display: flex; flex-direction: row; align-items: flex-end; ">
							<input type="text" tabindex="-1" autocomplete="false" style="display:none !important;" class="cr-nope" name="email_confirm">
							<!--label class="required" style="margin-right: 1rem;">{% translate "E-mail" %}</label-->
							<input type="email" placeholder="name@email.com" name="email" required="" style="padding:0.36rem;width:20rem;border: 1px solid #ced4da;border-radius: .25rem; ">
							<button type="submit" class="btn" style="margin-top: 0;margin-left: 1rem;">{% translate "Register" %}</button>

						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
