{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "OpenPlan - Publications" %}(redesign in progress){% endblock %}

{% block content %}
<main>
	<section style="padding-top: 4.5rem;">
  <div class="publications__wrap">
    <div class="publications__header">
      <h1>{% translate "OpenPlan - Publications" %}</h1>
    </div>
    <div class="publications__img">
      <img src="{% static 'assets/Publications.svg' %}" alt="Computer und wissenschaftliche Publikationen" width="300">
    </div>
    <div class="publications__content">
			{% include "landing/publication_template.html" with label="2022-11-16 Workshop" sub_text="Summary of the fourth stakeholder workshop on results section and thermal components" file_link="2022-11-16_report_stakeholder_workshop.pdf"  %}
			{% include "landing/publication_template.html" with label="2021 annual report" sub_text="Summary of the goals achieved within the year" file_link="2021_12_annual_report.pdf" %}
      {% include "landing/publication_template.html" with label="2021-10-20 Workshop" sub_text="Summary of the third stakeholder workshop on tool's first release." file_link="2021-10-20_stakeholder_workshop_zusammenfassung.pdf" %}
      {% include "landing/publication_template.html" with label="2021-07-01 Master Thesis" sub_text="Analyse der Auswirkungen auf die Netzanschlussleistung bei der Erhöhung der Eigenversorgung eines Industrieparks durch den Ausbau von erneuerbaren Energien und Speichern" file_link="Master_thesis_F_Hirschmueller.pdf" %}
      {% include "landing/publication_template.html" with label="2021-06-14 Master Thesis" sub_text="Analyzing the Application of Different Energy Cell Sizes as an Approach for the Integration of Decentralized Renewable Energy Sources" file_link="Master_thesis_A_Backhaus.pdf" %}
      {% include "landing/publication_template.html" with label="2021-03-17 Workshop" sub_text="Summary of the second stakeholder workshop on tool functionalities." file_link="2021-03-17_report_stakeholder_workshop.pdf" %}
      {% include "landing/publication_template.html" with label="2020 annual report" sub_text="Summary of the goals achieved within the year" file_link="2020_12_annual_report.pdf" %}
      {% include "landing/publication_template.html" with label="2020-05-13 Workshop" sub_text="Summary of the first stakeholder workshop on tool requirements." file_link="2020-05-13_report_stakeholder_workshop.pdf" %}
		</div>
  </div>
		</section>
</main>

{% endblock content %}