.conn-electricity {
  stroke: #fbc02d !important;
}

.conn-heat {
  stroke: #e28785 !important;
}

.conn-gas {
  stroke: #55b068 !important;
}

.conn-h2 {
  stroke: #2c92b5 !important;
}

.busnode-electricity {
  border-bottom-color: #fbc02d !important;
}

.busnode-heat {
  border-bottom-color: #e28785 !important;
}

.busnode-gas {
  border-bottom-color: #55b068 !important;
}

.busnode-h2 {
  border-bottom-color: #2c92b5 !important;
}
