{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block head_block %}
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock head_block %}

{% block title %} {% translate "Contact - open_plan" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}

	{% get_current_language as LANGUAGE_NAME %}

<main>
	<section class="header">
		<div>
			<div class="header__left"></div>
			<h1 class="header__title">{% translate "Contact" %}</h1>
			<div class="header__back"></div>
		</div>
	</section>
	<section class="standard-layout">
		<div>
			{% if user.is_authenticated %}
			<div class="standard-layout__paragraph">
				<h2>{% translate "Contact us" %}</h2>
				<p>{% translate "You can contact us by email at open_plan at rl-institut.de. Note that this information is only visible if you are logged in." %}</p>
			</div>
			{% endif %}
			<div class="standard-layout__paragraph standard-layout__paragraph--foreground">
				<h2>{% translate "Feedback or question?" %}</h2>
				{% url 'user_feedback' as url_feedback %}
				{% url 'sponsor_feature' as url_sponsor %}
				{% blocktranslate with url_github="https://github.com/orgs/open-plan-tool/projects/5" %}
				<p>You can always <a href="{{url_feedback}}">leave us a comment or feedback</a> on things you would improve. You can also visit <a href="{{url_github}}" target="_blank" rel="noreferrer">our github project page</a> to see which bugs are being fixed and which new features are being developed.</p>
				{% endblocktranslate %}
				{% blocktranslate %}
				<p>If you wish to sponsor a new feature of open-plan-tool, please visit our <a href="{{url_sponsor}}" target="_blank" rel="noreferrer">sponsoring page</a></p>
				{% endblocktranslate %}
			</div>

		</div>




	</section>
</main>
{% endblock content %}

