{% extends 'base.html' %}
{% load i18n %}


{% block title %} {% translate "Sponsor - open-plan-tool" %} {% endblock title%}

<!-- WRITE HTML CODE WITHIN THESE block content TAGS -->
{% block content %}
<main>
	<section class="header">
		<div>
			<div class="header__left"></div>
			<h1 class="header__title">{% translate "Sponsor new features" %}</h1>
			<div class="header__back"></div>
		</div>
	</section>
	<section class="standard-layout">
		<div>
			<div class="standard-layout__paragraph standard-layout__paragraph--foreground">
				<h2>{% translate "You wish a feature would be added to open-plan-tool?" %}</h2>
				{% url 'user_feedback' as url_feedback %}
				{% url 'landing_cellular' as url_op %}
				{% blocktranslate %}
				<p>
					The open-plan-tool was developed within the <a href="{{url_op}}" target="_blank">open_plan 1.0 project</a> and successfully completed in June 2023. The tool is currently being funded by the open_plan 2.0 project in the 8th Energy Research Program of the Federal Ministry for Economic Affairs and Climate Protection and expanded to include functions for use in municipal heating planning.
					If you are interested in adding additional functions to the open-plan tool that are optimally tailored to your needs, please feel free to contact us by email at <a href="mailto:open_plan@dgs-berlin.de">openplan@dgs-berlin.de</a> or via our <a target="_blank" href="{{url_feedback}}">feedback form</a>. We look forward to further exciting projects.
				</p>
				{% endblocktranslate %}
			</div>

			<!--div class="standard-layout__paragraph">
				<h2>Other  paragraph type</h2>
			</div>
			<div class="standard-layout__paragraph standard-layout__paragraph--small">
			</div-->


		</div>
	</section>
</main>
{% endblock content %}
