{% extends 'base.html' %}
{% load i18n %}

{% block start_body_scripts %}
<style>
.error-403.standard-layout > div::before {
    content: '' !important;
    background: none !important;
    height: 0 !important;
}

.error-animation {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
</style>
{% endblock %}

{% block content %}
<div>
    <section class="header">
        <div>
            <div class="header__left"></div>
            <h1 class="header__title">{% translate "403" %}</h1>
            <div class="header__back">
                <a href="javascript:history.back()">{% translate "Back" %}</a>
            </div>
        </div>
    </section>
    <section class="error-403 standard-layout">
		<div>
            <div class="error-animation">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_rux40kz2.json"  background="transparent"  speed="1" class="anim" loop autoplay></lottie-player>
            </div>
			<div>
				<h2>{% translate "Error! You don't have permission to access the requested resource." %}</h2>
			</div>
            <br>
			<div class="standard-layout__paragraph">
				<h2>{{ reason }}</h2>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
