name: Linter

env:
  SQL_ENGINE: django.db.backends.postgresql
  SQL_DATABASE: dummy_db
  SQL_USER: dummy_user
  SQL_PASSWORD: dummy_pw
  SQL_HOST: localhost
  SQL_PORT: 5432

on: 
  push:
      paths-ignore:
      - 'README.md'
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements/local.txt
    - name: Pull postgres images
      run: docker compose -f docker-compose-ci.yml pull db_pg
    - name: Start PostgreSQL with Docker Compose
      run: docker compose -f docker-compose-ci.yml up db_pg -d
    - name: Show running containers
      run: docker ps -a
    - name: Analysing the code with pylint
      run: |
        black --version
        black --check --diff .
    - name: Run unittests
      run: |
        cd app
        python manage.py test
      env:
        DEBUG: "False"